<nav id="toolbar" class="navbar navbar-expand-lg fixed-top navbar-light bg-white navbar">
    <div class="container-fluid">
        <a href="/" class="navbar-brand"><img src="../../assets/logo.png" alt="logo" width="35px" height="35px"
                class="d-inline-block align-top mr-3">
            Cookbook</a>
        <button aria-label="Toggle navigation" type="button" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="justify-content-end collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="#" class="nav-link">Logowanie</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Rejestracja</a></li>
            </ul>
        </div>
    </div>
</nav>